/* 
    Document   : home.css
    Created on : Apr 27, 2011, 7:00:39 PM
    Author     : IR
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#recent-post-load-div{
   padding : 2px; 
}
.posts{
   padding-left: 5px;
   padding-top: 2px;
}
.posts .post-description{
    padding-left: 8px;
}

.odd{
    background-color :#F0EEF6;
}


